
/* // Màn Hình Chính // */ 
#ScreenMain{
    position: absolute;
    left: 215px;top: 10px;
    width: 1500px; height: 700px;
    background-color: rgb(255, 255, 255); 
}
/*Nút nhấn sửa*/
#btt_Edit {
    border: none; 
    background-color: rgb(255, 0, 0); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 80px; height: 40px; 
    left: 250px; top: 450px;
}
/*Nút nhấn lưu*/
#btt_Save {
    border: none; 
    background-color: rgb(2, 2, 2); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 80px; height: 40px; 
    left: 250px; top: 450px;
}